.Shout {
  width: 100%;
}

.Shout-head {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.Shout-preview {
  background: #f0f0f0;
  border-radius: 0 0 3px 3px;
  margin: 0 0px;
  padding: 8px;
  text-align: center;
}

.Shout-preview > img {
  max-height: 500px;
  max-width: 80%;
}

.Shout-thumbnail {
  border-radius: 3px;
  border: 1px solid #eaeaea;
  height: 70px;
  margin-right: 16px;
  min-width: 70px;
  width: 70px;
}

.Shout-thumbnail > img {
  border-radius: 3px;
  height: 100%;
  object-fit: cover;
  width: 68px;
}

.Shout-thumbnail:hover {
  text-decoration: none;
}

.Shout-meta {
  color: #b6b6b6;
  font-size: 12px;
  margin-bottom: 0;
}

.Shout-meta > a {
  color: black;
  margin: 0 3px;
}
