.Story {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.Story {
  margin-bottom: 15px;
}

.Story-score-display {
  border-right: 1px solid #f0f0f0;
  padding-right: 8px;
  text-align: center;
  margin-right: 16px;
}

.Story-vote {
  background: none;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
}

.Story-vote:focus {
  outline: none;
}

.Story-vote:hover {
  color: #005dab;
}

.Story-vote:active {
  color: #0087f8;
}

.Story-score {
  font-size: .8rem;
  font-weight: bold;
}

.Story-thumbnail {
  min-width: 70px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Story-thumbnail:hover {
  text-decoration: none;
}

.Story-type-post {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background: #ccccc7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}
