.Story {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.Story {
  margin-bottom: 15px;
}

.Story-score-display {
  border-right: 1px solid #f0f0f0;
  padding-right: 8px;
  text-align: center;
  margin-right: 16px;
}

.Story-vote {
  background: none;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
}

.Story-vote:focus {
  outline: none;
}

.Story-vote:hover {
  color: #005dab;
}

.Story-vote:active {
  color: #0087f8;
}

.Story-score {
  font-size: .8rem;
  font-weight: bold;
}

.StoryShout {
  display: flex;
}

.StoryShout-thumbnail {
  height: 70px;
  margin-right: 16px;
  width: 70px;
}

.StoryShout-thumbnail > img {
  border-radius: 3px;
  max-height: 70px;
  object-fit: cover;
  width: 70px;
}

.StoryShout-thumbnail:hover {
  text-decoration: none;
}

.StoryShout-meta {
  color: #b6b6b6;
  font-size: 12px;
  margin-bottom: 0;
}

.StoryShout-meta > a {
  color: black;
  margin: 0 3px;
}

.StoryShout-action {
  color: #b6b6b6;
  margin-right: 16px;
  outline: none;
  padding: 0.25rem 0;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: transparent;
}

.StoryShout-action > i {
  margin-right: 4px;
}

.StoryShout-action:hover {
  color: rgb(0, 125, 255) !important;
  text-decoration: none;
}

.StoryShout-action:active {
  color: rgb(88, 86, 214) !important;
  outline: none;
  text-decoration: none;
}

.StoryShout-action:focus {
  color: rgba(150, 150, 150, 1);
  outline: none !important;
  text-decoration: none !important;
}
