.Story {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 0;
}

.Story ~ .Story {
  border-top: none;
}

.Story:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.Story:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.Story-score-display {
  border-right: 1px solid #f0f0f0;
  padding-right: 8px;
  text-align: center;
  margin-right: 16px;
}

.Story-vote {
  background: none;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
}

.Story-vote:focus {
  outline: none;
}

.Story-vote:hover {
  color: #005dab;
}

.Story-vote:active {
  color: #0087f8;
}

.Story-score {
  font-size: .8rem;
  font-weight: bold;
}
