.Story-body img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes storyContentPlaceholderShimmer{
  0%{
      background-position: -690px 0;
  }
  100%{
      background-position: 690px 0;
  }
}

.StoryContent-animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: storyContentPlaceholderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1380px 340px;
  height: 80vh;
  position: relative;
  border-radius: 0.25rem;
}

.StoryContent-ph {
  padding: 1.25rem;
}

.StoryContent-title-gap {
  top: 50px;
  left: 0;
  width: 100%;
  height: 10px;
}

.StoryContent-subtitle-gap {
  top: 60px;
  right: 0;
  width: 60%;
  height: 30px;
}

.StoryContent-content-gap {
  top: 90px;
  left: 0;
  width: 100%;
  bottom: 30px;
}

.StoryContent-meta-extra {
  bottom: 0;
  right: 0;
  height: 30px;
  width: 40%;
}
