.StoryThumbnail {
  align-items: center;
  border-radius: 3px !important;
  border: 1px solid #dee2e6 !important;
  color: #dee2e6 !important;
  display: flex;
  height: 31px;
  justify-content: center !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  max-height: 31px;
  max-width: 31px;
  min-height: 31px;
  min-width: 31px;
  width: 31px;
}

.StoryThumbnail img {
  border-radius: 3px;
  height: 31px;
  max-height: 31px;
  max-width: 31px;
  min-height: 31px;
  min-width: 31px;
  object-fit: cover;
  width: 31px;
}

@media (min-width: 576px) {
  .item-medium .StoryThumbnail {
    font-size: 220%;
    height: 80px;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    max-height: 80px;
    max-width: 80px;
    min-height: 80px;
    min-width: 80px;
    width: 80px;
  }

  .item-medium .StoryThumbnail img {
    height: 78px;
    max-height: 78px;
    max-width: 78px;
    min-height: 78px;
    min-width: 78px;
    width: 78px;
  }
}

.item-big .StoryThumbnail {
  display: none;
}
