@keyframes storyBigPlaceholderShimmer {
  0% {
    background-position: -712px 0;
  }

  100% {
    background-position: 712px 0;
  }
}

.StoryBig-animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: storyBigPlaceholderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1424px 30.5px;
  height: 62px;
  position: relative;
  margin-bottom: 280px;
}

.StoryBig-score-gap {
  bottom: 0;
  left: 28px;
  top: 0;
  width: 8px;
}

.StoryBig-meta-gap {
  height: 14px;
  left: 36px;
  right: 0;
  top: 18px;
}

.StoryBig-meta-edge {
  right: 0;
  height: 18px;
  top: 0;
  width: 30%;
}

.StoryBig-title-gap {
  bottom: 0;
  height: 8px;
  left: 36px;
  right: 0;
}

.StoryBig-title-edge {
  bottom: 8px;
  height: 22px;
  right: 0;
  width: 10%;
}
