.StoryDock-Voting {
  border-right: 1px solid #dee2e6;
  padding-right: 0.5rem !important;
  text-align: center !important;
  display: inline-block;
  white-space: nowrap;
}

.item-big .StoryDock-Voting {
  border-right: none;
  display: inline-block;
  white-space: nowrap;
}

.StoryDock-Votes {
  display: inline-block !important;
  font-size: 80% !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  min-width: 38px !important;
}

.item-big .StoryDock-Votes,
.item-medium .StoryDock-Votes {
  display: block !important;
  min-width: 30px !important;
}

.StoryRight {
  align-items: center;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.item-big .StoryRight,
.item-medium .StoryRight {
  align-items: initial;
  flex-direction: column;
}

.StoryMeta {
  flex: 1;
  display: inline-block;
  white-space: nowrap;
}

.item-big .StoryMeta,
.item-medium .StoryMeta {
  line-height: 1;
}

.StoryActions {
  margin-left: 0.5rem;
}

.item-big .StoryActions,
.item-medium .StoryActions {
  margin-left: 0;
}

.StoryAction-shares {
  display: none;
}

.item-big .StoryAction-shares,
.item-medium .StoryAction-shares {
  display: initial;
  margin-left: 1.5rem;
}
