.btn-story,
.btn-score {
  background-color: transparent;
  border-radius: 0.2rem;
  border: none;
  color: #6c757d;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.25rem 0;
  text-align: left;
}

.btn-score-big {
  line-height: 1;
  padding: 0;
}

.btn-story:focus,
.btn-score:focus {
  outline: none;
  box-shadow: none;
}

.btn-score i {
  margin-right: 0;
}

.btn-story:hover,
.btn-score:hover {
  color: rgb(0, 122, 255);
}

.btn-story i {
  margin-right: 0.6rem;
}

.btn-story-compact {
  font-size: 0.8rem;
}

.StoryButton {
  display: inline-block;
  min-width: 80px;
}
