@keyframes storySmallPlaceholderShimmer {
  0% {
    background-position: -712px 0;
  }

  100% {
    background-position: 712px 0;
  }
}

.StorySmall-animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: storySmallPlaceholderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1424px 30.5px;
  height: 30.5px;
  position: relative;
}

.StorySmall-thumbnail-gap {
  bottom: 0;
  left: 30px;
  top: 0;
  width: 25px;
}

.StorySmall-top-gap {
  height: 6px;
  left: 55px;
  right: 0;
  top: 0;
}

.StorySmall-bottom-gap {
  bottom: 0;
  height: 6px;
  left: 55px;
  right: 0;
}
