.StoryPeek {
  display: none;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.StoryPeek p {
  font-size: 95%;
  margin-bottom: 0.5rem;
}

.item-big .StoryPeek {
  display: block;
  margin-top: 0.25rem !important;
  order: 3;
}
