.Summary {
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem !important;
}

.Summary .btn-light {
  background: transparent;
  border-color: transparent;
}

.item-medium .Summary {
  align-items: start;
}

.item-big .Summary {
  align-items: normal;
}

.Summary.interactive {
  display: flex;
}

.Summary.interactive:hover {
  cursor: pointer;
}

.StoryRight {
  align-items: baseline;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.item-big .StoryRight,
.item-medium .StoryRight {
  align-items: initial;
  flex-direction: column;
}

.StoryMeta {
  flex: 1;
  display: inline-block;
  white-space: nowrap;
}

.item-big .StoryMeta,
.item-medium .StoryMeta {
  line-height: 1;
}

.StoryActions {
  margin-left: 0.5rem;
}

.item-medium .StoryActions {
  margin-top: 0.25rem;
}

.item-big .StoryActions,
.item-medium .StoryActions {
  margin-left: 0;
}

.StoryAction-shares {
  display: none;
}

.item-big .StoryAction-shares,
.item-medium .StoryAction-shares {
  display: initial;
  margin-left: 1.5rem;
}

.StoryTiming {
  color: #6c757d;
  font-size: 80%;
  font-weight: 400;
  margin-left: 0.25rem;
  white-space: nowrap;
}
