.btn-action {
  color: #b6b6b6;
  margin-right: 16px;
  outline: none;
  padding: 0.25rem 0;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: transparent;
}

.btn-action > i {
  margin-right: 4px;
}

.btn-action:hover,
.btn-action.active {
  color: rgb(0, 125, 255) !important;
  text-decoration: none;
}

.btn-action:active {
  color: rgb(88, 86, 214) !important;
  outline: none;
  text-decoration: none;
}

.btn-action:focus {
  color: rgba(150, 150, 150, 1);
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none;
}
