.Image-wrapper {
  border-radius: 0.25rem;
  border: 1px solid #f0f0f0;
  margin: 0 auto 0 0;
  padding: 0;
}

.Image-placeholder {
  background: #f0f0f0;
  max-width: 100%;
  position: relative;
}

.Image-source {
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
}

.StoryPreview .Image-wrapper {
  border-radius: 0;
  border: none;
  margin: 0 auto !important;
}
